<head>
  <div class="container">
    <div class="row">
      <div class="col-12 m-4">
        <strong
          ><a
            href="{% url 'bookstore:book-list' %}"
            style="text-decoration: none; color: black"
            >My BookStore</a
          ></strong
        >
        <strong
          ><a
            href="{% url 'bookstore:book-list' %}"
            style="text-decoration: none; color: black; margin-left: 10px"
            >Home</a
          ></strong
        >
        <strong
          ><a
            href="{% url 'bookstore:book-create' %}"
            style="text-decoration: none; color: black; margin-left: 10px"
            >Add Book</a
          ></strong
        >
        <strong
          ><a
            href="{% url 'bookstore:login' %}"
            style="text-decoration: none; color: black; margin-left: 10px"
            >Login</a
          ></strong
        >
        <strong
          ><a
            href="{% url 'bookstore:signup' %}"
            style="text-decoration: none; color: black; margin-left: 10px"
            >Sign up</a
          ></strong
        >
      </div>
    </div>
  </div>
</head>
